extends layout.pug
block content    
    
    body
    h1 Loans
    p
        a(href="/new_loan" class="button") Create New Loan
    p Filters <a href="/books/all_loans" > All </a> | <a href="/overdue_loans"> Overdue</a> | <a href="/checked_loans"> Checked Out</a></p>
    table
        thead
            tr
                th Book
                th Patron 
                th Loaned on
                th Return by 
                th Returned on
                th Action
       
        tbody
            -const  bookloaned= loaninfo
            each loanitem, index in bookloaned
                - let itemtitle = bookloaned[index].dataValues.book.dataValues.title
                - let itemcustomer = bookloaned[index].dataValues.patron.dataValues.first_name +" "+ bookloaned[index].dataValues.patron.dataValues.last_name
                - let itemloanedon = bookloaned[index].dataValues.loaned_on
                - let itemreturnby = bookloaned[index].dataValues.return_by
                - let itemreturnedon = bookloaned[index].dataValues.returned_on
                - let itembookid = bookloaned[index].book_id
                - let itemid = bookloaned[index].dataValues.patron.dataValues.id


                tr
                    td
                        a(href="/books/details/" + `${itembookid}`) #{itemtitle}
                    td
                        a(href="/patrons/patron_details/" + `${itemid}`) #{itemcustomer}
                    td #{moment(itemloanedon).utc().format("YYYY-MM-DD")} 
                    td  #{moment(itemreturnby).utc().format("YYYY-MM-DD")}
                    if itemreturnedon !== null
                        td  #{moment(itemreturnedon).utc().format("YYYY-MM-DD")}
                    else 
                        td
                    td
                        if itemreturnedon === null
                            a(href="/return/" + `${itembookid}` class="button") Return Book
                