extends layout.pug
block content  
    form(action="/searchbooks" method="post")
        br
        input(class="searchStyle" name="search" type="text" placeholder="search here")   
        input(type="submit" value="search")
    body    
        h1 #{pagetitle}
        a(class="button" href="/books/new") Create New Book
        p Filters <a href="/books" > All </a> | <a href="/books/overdue"> Overdue</a> | <a href="/books/checked_books"> Checked Out</a></p>
                table
                    tr  
                        th Book Title
                        th Author
                        th Genre
                        th Year Released/First Published
                    - const eachBook = bookinfo
                    each eBook in eachBook
                        tr
                          td    
                            a(href="/books/details/" + `${eBook.dataValues.id}` ) #{eBook.dataValues.title}
                          td #{eBook.dataValues.author} 
                          td #{eBook.dataValues.genre}
                          td #{eBook.dataValues.first_published}  

        include pagination.pug



                
    