extends layout.pug
block content    
    form(action="/searchbooks" method="post")
        br
        input(class="searchStyle" name="search" type="text" placeholder="search here")   
        input(type="submit" value="search")
    body
    h1 #{page}
    p
        a(href="/new_patron" class="button") Create New Patron
    table
        tr
            th Name 
            th Address
            th Email
            th Library ID
            th Zip
           
        -const librarypatron = patroninfo
        each libpatron in librarypatron
            tr
            
                td
                    // a(href="/books/patrons/patron_details/"+ `${libpatron.library_id}`) #{libpatron.first_name} #{libpatron.last_name}
                    a(href="/books/patrons/patron_details/"+ `${libpatron.id}`) #{libpatron.first_name} #{libpatron.last_name}

                td  #{libpatron.address}
                td  #{libpatron.email}
                td  #{libpatron.library_id}
                td  #{libpatron.zip_code}
            tr
            tr
            
               
    include pagination.pug