extends layout.pug
block content 
    body
        h1  #{title}
        - const singleBook = bookinfo
        form( action="./books/details" method="post")  
        
            label(for="bkTitle") Book Title
            input(id="bkTitle" name= "title" type="text" value = `${bkloan.title}` required) 
        p
            label(for="author") Author
            input(id= "author" name ="author" type="text" value = `${bkloan.author}` required) 
        p     
            label(for="genre") Genre
            input(id = "genre" name="genre" type="text" value =`${bkloan.genre}` required)  
        p   
            label(for="first_published") First Published
            input(id="first_published" name="first_published" type="number" value=`${bkloan.first_published}`  )

        input(type="submit" value="Update")

        h2 Loan History
        table
            thead
                tr
                    th Book
                    th Patron 
                    th Loaned on
                    th Return by 
                    th Returned on                
                    th Action
            tbody
            
                tr
                td
                    a(href="book_detail.html") #{bkloan.title}   
                
                    
                td  
                    a(href="patron_detail.html") #{patron_id}
                td  #{moment(loaned_on).format("YYYY-MM-DD")} 
                td #{moment({return_by}).format("YYYY-MM-DD")}
                td #{moment({return_by}).format("YYYY-MM-DD")}
                td 
                    a(href="return_book.html" class="button") Return Book
